[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "acorn/plugins/cachebuster/vendor/minify"]
	path = acorn/plugins/cachebuster/vendor/minify
	url = https://github.com/matthiasmullie/minify.git
[submodule "acorn/plugins/cachebuster/vendor/path-converter"]
	path = acorn/plugins/cachebuster/vendor/path-converter
	url = https://github.com/matthiasmullie/path-converter.git
[submodule "acorn/plugins/acorn-commerce/vendor/stripe-php"]
	path = acorn/plugins/acorn-commerce/vendor/stripe-php
	url = https://github.com/stripe/stripe-php.git
