# System files
# ------------

Icon
.DS_Store
.dropbox
.git

# Temporary cache files
# ---------------

/cache/assets/*
/cache/content/*
/cache/media/*
/cache/sessions/*
/cache/thumbs/*
!/cache/.gitkeep

# User info
# ---------------

/users/accounts/*
!/users/accounts/.gitkeep

/users/avatars/*
!/users/avatars/.gitkeep

# Content
# ---------------

/content/*

!/content/home/
!/content/home/*
/content/home/.DS_Store

!/content/error/
!/content/error/page.txt

!/content/settings/
!/content/settings/page.txt
!/content/users/page.txt

# Unlicensed components
# ---------------

/site/plugins/guggenheim/*
/site/plugins/imagekit/*
/site/plugins/phpmailer/*

/assets/guggenheim/*
/assets/js/photoswipe/*
/assets/js/stickyfill/*

/assets/fonts/*

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

/site/accounts/*
/assets/avatars/*

# Config (private)
# ---------------

/subdomains/*
/content/site-dev.txt
/site/config/private.php