# System files
# ------------

Icon
.DS_Store
.dropbox
.git
.vscode
*.code-workspace

# Temporary cache files
# ---------------

/cache/assets/*
/cache/content/*
/cache/media/*
/cache/sessions/*
/cache/thumbs/*
!/cache/.gitkeep

# User info
# ---------------

/acorn/users/accounts/*
!/acorn/users/accounts/.gitkeep

/acorn/users/avatars/*
!/acorn/users/avatars/.gitkeep

# Content
# ---------------

/content/*

!/content/logo-apple-touch.png
!/content/logo-favicon.png
!/content/logo-icon.svg
!/content/logo.svg

!/content/home/
!/content/home/page.txt

!/content/site/
!/content/site/*

!/content/error/
!/content/error/page.txt

!/content/settings/
!/content/settings/page.txt
!/content/users/page.txt

!/content/sample-page/

# Unlicensed components
# ---------------

/acorn/plugins/guggenheim/*
/acorn/plugins/imagekit/*
/acorn/plugins/phpmailer/*

/acorn/assets/guggenheim/*
/acorn/assets/js/photoswipe/*
/acorn/assets/js/stickyfill/*

/acorn//assets/fonts/*

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

/acorn/users/accounts/*
/acorn/users/avatars/*

# Config (private)
# ---------------

/subdomains/*
/content/site-dev.txt
/acorn/config/private.php