# System files
# ------------

Icon
.DS_Store
.dropbox
.git

# Temporary files
# ---------------

/thumbs/*
!/thumbs/index.html

/site/cache/*
!/site/cache/index.html

/assets/js/main.mod.js

/cache/content/*
!/cache/content/.keep

/cache/content/*
!/cache/content/.keep

/cache/sessions/*
!/cache/sessions/.keep

/cache/thumbs/*
!/cache/thumbs/.keep

# User info
# ---------------

/users/accounts/*
!/users/accounts/.keep

/users/avatars/*
!/users/avatars/.keep

# Content
# ---------------

/content/*

!/content/home/
!/content/home/*
/content/home/.DS_Store

!/content/error/
!/content/error/page.txt

!/content/settings/page.txt
!/content/users/page.txt

# Unlicensed components
# ---------------

/site/plugins/guggenheim/*
/site/plugins/imagekit/*
/site/plugins/phpmailer/*

/assets/guggenheim/*
/assets/js/photoswipe/*
/assets/js/stickyfill/*

/assets/fonts/*

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

/site/accounts/*
/assets/avatars/*

# Config (private)
# ---------------

/site/config/private.php