# Kirby .htaccess

# Boost the memory limit to ensure image thumbnails are always generated
# php_value memory_limit 256M
# Only works with mod_php, breaks with mpm_event

# Prevent directory browsing
Options -Indexes

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.:
# http://yourdomain.com/about-us/team
RewriteEngine on

# make sure to set the RewriteBase correctly
# if you are running the site in a subfolder.
# Otherwise links or the entire site will break.
#
# If your homepage is http://yourdomain.com/mysite
# Set the RewriteBase to:
#
# RewriteBase /mysite

# block text files in the content folder from being accessed directly
RewriteRule ^content/(.*)\.(txt|md|mdown)$ index.php [L]

# block direct access to everything within site folder, except for assets
# http://stackoverflow.com/questions/6942652/all-except-one-directory-in-mod-rewrite
# RewriteRule ^site/(.*) index.php [L]
# RewriteCond %{REQUEST_URI} !^/assets(/|$)
# RewriteRule ^([\w/]*)$ index.php [L]

# block all files in the accounts folder from being accessed directly
# RewriteRule ^accounts/(.*) index.php [L]

# block all files in the kirby folder from being accessed directly
RewriteRule ^kirby/(.*) index.php [L]

# kirby cachebuster for css and js
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.(\d+)\.(js|css)$ $1.$3 [L]

# remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]

# redirect www to non-www https
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# force https
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

<IfModule mod_headers.c>

  Header set Content-Security-Policy: "default-src 'none'; style-src 'self' 'unsafe-inline' checkout.stripe.com; font-src 'self' themes.googleusercontent.com; img-src *; media-src *; object-src 'self'; script-src 'self' www.google-analytics.com ajax.googleapis.com checkout.stripe.com js.stripe.com data:; child-src https://player.vimeo.com https://www.youtube.com https://acorn.blog checkout.stripe.com js.stripe.com; connect-src 'self' checkout.stripe.com"
  
  Header always set Strict-Transport-Security "max-age=15768000; includeSubDomains"
  
  Header set X-Content-Type-Options: nosniff
  
  # Only send a shortened referrer to foreign sites
  Header set Referrer-Policy: "no-referrer, strict-origin-when-cross-origin"
  
  # Block site from being framed with X-Frame-Options and CSP
  # For IE/Edge, superceded by CSS frame-ancestors
  Header set X-Frame-Options DENY
  
  # Prevent reflected XSS attacks
  # For old browsers, deprecated by CSP unsafe-inline
  Header set X-XSS-Protection "1; mode=block"
  
  <filesMatch ".(jpe?g|png|gif|ico|svg)$">
    Header set Cache-Control "max-age=604800, public"
  </filesMatch>
  # One month for css and js
  <filesMatch ".(css|js)$">
    Header set Cache-Control "max-age=604800, public"
  </filesMatch>
  
</IfModule>



</IfModule>

# Additional recommended values
# Remove comments for those you want to use.
#
AddDefaultCharset UTF-8
#
# php_flag short_open_tag on

# Increase max amount of data that can be sent via a POST in a form
# php_value post_max_size 100M
# Only works with mod_php, breaks with mpm_event
















